#service h1 {
    text-align: center;
   
}

#service-1 {
    text-align: center;
    margin-bottom: 30px;
    height: 300px;
    width: 300px;
    margin-left: 605px;
}

#service-2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 300px;
    width: 300px;
    margin-left: 605px;
}

#service-3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 300px;
    width: 300px;
    margin-left: 605px;
}


#service-4 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 300px;
    width: 300px;
    margin-left: 605px;
    
}
